@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 128 67% 97%;
    --foreground: 130 25% 20%;
    --card: 128 67% 99%;
    --card-foreground: 130 25% 20%;
    --popover: 128 67% 99%;
    --popover-foreground: 130 25% 20%;
    --primary: 130 41% 39%;
    --primary-foreground: 128 60% 92%;
    --secondary: 130 30% 92%;
    --secondary-foreground: 130 25% 20%;
    --muted: 130 30% 92%;
    --muted-foreground: 130 20% 45%;
    --accent: 28 80% 52%;
    --accent-foreground: 30 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 20% 88%;
    --input: 130 20% 91%;
    --ring: 130 41% 39%;
    --chart-1: 130 41% 39%;
    --chart-2: 28 80% 52%;
    --chart-3: 130 30% 60%;
    --chart-4: 28 70% 70%;
    --chart-5: 130 20% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 130 10% 8%;
    --foreground: 130 10% 80%;
    --card: 130 10% 10%;
    --card-foreground: 130 10% 80%;
    --popover: 130 10% 8%;
    --popover-foreground: 130 10% 80%;
    --primary: 130 41% 55%;
    --primary-foreground: 130 41% 10%;
    --secondary: 130 10% 15%;
    --secondary-foreground: 130 10% 90%;
    --muted: 130 10% 15%;
    --muted-foreground: 130 10% 60%;
    --accent: 28 80% 60%;
    --accent-foreground: 28 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 10% 20%;
    --input: 130 10% 20%;
    --ring: 130 41% 55%;
    --chart-1: 130 41% 55%;
    --chart-2: 28 80% 60%;
    --chart-3: 130 30% 40%;
    --chart-4: 28 70% 50%;
    --chart-5: 130 20% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
